*, :before, :after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._pb_circle_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 50%;
    background-color: #424242;
    color: white;
}
._pb_circle_button .material-icons {
    font-size: 18px;
}
._pb_circle_button._pb_green {
    background-color: #43A047;
}

._pb_close_button {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: default;
    color: inherit;
}
._pb_close_button .material-icons {
    font-size: 18px;
}

._pb_toolbar {
    position: absolute;
    border-radius: 3px;
    background-color: #424242;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 4px;
}
._pb_toolbar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #424242;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
._pb_toolbar ._pb_button {
    display: block;
    padding: 3px;
    border-radius: 2px;
    cursor: default;
    transition: background-color .2s;
}
._pb_toolbar ._pb_button .material-icons {
    font-size: 18px;
    vertical-align: middle;
}
._pb_toolbar ._pb_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
._pb_toolbar ._pb_divider {
    display: block;
    width: 1px;
    height: 18px;
    background-color: #888;
}

._pb_panel {
    position: absolute;
    border-radius: 3px;
    background-color: white;
    color: #424242;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    font: 16px sans-serif;
    z-index: 1000;
}
._pb_panel:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #424242;
    border-left: 8px solid transparent;
}
._pb_panel > ._pb_header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
._pb_header {
    padding: 16px;
    background-color: #424242;
    color: white;
}
._pb_header > ._pb_tabs {
    margin: -16px;
}

._pb_panel._pb_blue:after {
    border-bottom-color: #1E88E5;
}
._pb_panel._pb_blue > ._pb_header {
    background-color: #1E88E5;
}

._pb_box {
    position: relative;
}

._pb_bounding_box {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 2px solid #424242;
    border-radius: 2px;
}
._pb_bounding_box ._pb_circle_button {
    position: absolute;
}
._pb_bounding_box ._pb_insert_above {
    top: -13px;
    left: 50%;
    margin-left: 2px;
}
._pb_bounding_box ._pb_insert_below {
    bottom: -13px;
    left: 50%;
    margin-left: 2px;
}
._pb_bounding_box ._pb_move_up {
    top: -13px;
    left: 50%;
    margin-left: -26px;
}
._pb_bounding_box ._pb_move_down {
    bottom: -13px;
    left: 50%;
    margin-left: -26px;
}
._pb_bounding_box ._pb_move_left {
    left: -13px;
    top: 50%;
    margin-top: -26px;
}
._pb_bounding_box ._pb_move_right {
    right: -13px;
    top: 50%;
    margin-top: -26px;
}
._pb_bounding_box ._pb_insert_before {
    left: -13px;
    top: 50%;
    margin-top: 2px;
}
._pb_bounding_box ._pb_insert_after {
    right: -13px;
    top: 50%;
    margin-top: 2px;
}
._pb_bounding_box ._pb_delete {
    top: -13px;
    right: -13px;
}
._pb_bounding_box._pb_purple {
    border-color: #8E24AA;
}
._pb_bounding_box._pb_purple ._pb_circle_button {
    background-color: #8E24AA;
}

._pb_tabs {
    display: flex;
}
._pb_tabs ._pb_tab {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 16px 14px 16px;
    border-bottom: 2px solid transparent;
    cursor: default;
    opacity: 0.8;

    transition: border-bottom-color .2s, opacity .2s;
}
._pb_tabs ._pb_tab:hover {
    border-bottom-color: currentColor;
}
._pb_tabs ._pb_tab._pb_active {
    border-bottom-color: currentColor;
    opacity: 1;
}

._pb_field {
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
._pb_field + ._pb_field {
    border-top: 1px solid #ebebeb;
}
._pb_field label {
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 1;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: right;
    outline: 0;
}
._pb_field input[type="text"],
._pb_field input[type="email"],
._pb_field input[type="password"],
._pb_field input[type="url"] {
    -webkit-appearance: none;
    font: 16px sans-serif;
    line-height: 1;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    text-align: right;
    outline: 0;
}
._pb_field ._pb_hint {
    width: 100%;
    font-size: 14px;
    color: #888;
}

._pb_switch {
    display: block;
    position: relative;
    width: 32px;
}
._pb_switch input {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    opacity: 0;
}
._pb_switch label:before, ._pb_switch label:after {
    content: "";
    display: block;
    position: absolute;
}
._pb_switch label:before {
    top: 3px; left: 1px;
    width: 32px;
    height: 14px;
    border-radius: 7px;
    background-color: #9b9b9b;
}
._pb_switch label:after {
    top: 0; left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: left .3s;
}
._pb_switch :checked + label:before {
    background-color: #8E24AA;
}
._pb_switch :checked + label:after {
    left: 14px;
}

._pb_sidebar {
    position: fixed;
    top: 0; right: 0; bottom: 0;
    width: 280px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
    font: 16px sans-serif;
}
