*, :before, :after {
    box-sizing: border-box;
}

._pb_circle_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 50%;
    background-color: #444;
    color: white;
}
._pb_circle_button .material-icons {
    font-size: 18px;
}
._pb_circle_button._pb_green {
    background-color: #B0F566;
    color: #444;
}
