*, :before, :after {
    box-sizing: border-box;
}

._pb_circle_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 50%;
    background-color: #444;
    color: white;
}
._pb_circle_button .material-icons {
    font-size: 18px;
}
._pb_circle_button._pb_green {
    background-color: #B0F566;
    color: #444;
}


._pb_toolbar {
    position: absolute;
    border-radius: 3px;
    background-color: #444;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 4px;
}
._pb_toolbar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #444;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
._pb_toolbar ._pb_button {
    display: block;
    padding: 3px;
    border-radius: 2px;
    cursor: default;
}
._pb_toolbar ._pb_button .material-icons {
    font-size: 18px;
    vertical-align: middle;
}
._pb_toolbar ._pb_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
._pb_toolbar ._pb_divider {
    display: block;
    width: 1px;
    height: 18px;
    background-color: #888;
}

._pb_panel {
    position: absolute;
    border-radius: 3px;
    background-color: white;
    color: #444;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    font: 16px sans-serif;
    z-index: 1000;
}
._pb_panel:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #444;
    border-left: 8px solid transparent;
}
._pb_panel > ._pb_header {
    padding: 6px 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #444;
    color: white;
}
._pb_panel > ._pb_header > ._pb_tabs {
    margin: -6px -12px;
}
._pb_panel > ._pb_content {
    padding: 12px;
}

._pb_panel._pb_blue:after {
    border-bottom-color: #5CC9F5;
}
._pb_panel._pb_blue > ._pb_header {
    background-color: #5CC9F5;
}

._pb_box {
    position: relative;
}

._pb_bounding_box {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 2px solid #6638F0;
    border-radius: 2px;
}

._pb_tabs {
    display: flex;
}
._pb_tabs ._pb_tab {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 12px 6px 12px;
    border-bottom: 2px solid transparent;
    cursor: default;
    opacity: 0.8;
}
._pb_tabs ._pb_tab:hover {
    border-bottom-color: currentColor;
}
._pb_tabs ._pb_tab._pb_active {
    border-bottom-color: currentColor;
    opacity: 1;
}
